.example-spacer {
    flex: 1 1 auto;
  }
  .topbar{
    background-color: rgb(64, 64, 145);
    width: auto;
  }
  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url( '../../../../../Без\ названия.jfif');
    background-size: cover;
  }
  